
.set{
    margin-left: 350px;
}

.no-js #loader { display: none;  }
                       .js #loader { display: block; position: absolute; left: 100px; top: 0; }
                       .se-pre-con {
                       	position: fixed;
                       	left: 0px;
                       	top: 0px;
                       	width: 100%;
                       	height: 100%;
                       	z-index: 9999;
                       	background: url(../img/rubixo.gif) center no-repeat #000;
                       }


@media only screen and (max-width:600px){
    .no-js #loader { display: none;  }
                       .js #loader { display: block; position: absolute; left: 100px; top: 0; }
                       .se-pre-con {
                       	position: fixed;
                       	left: 0px;
                       	top: 0px;
                       	width: 100%;
                       	height: 100%;
                       	z-index: 9999;
                       	background: url(../img/preloader.gif) center no-repeat #000;
                       }
    
    
}
@media only screen and (max-width:650px){
    .set{
    margin-left: 0px;
}
}





body{
    margin-top: 0px;
    background: white;
    color: darkgray;
}
h1,h2,h3,h4,h5{
    color: aquamarine;
}
.carousel{
    height:  !important;
}
.carousel-inner,.carousel-item{
  height: 100% !important;
}

.feature-area{
    background: lightblue;
}

.about{
    height: 100vh;
    background: black;
    
}
.about-1{
    height: 100%; 
    
}
.about-1 h1{
    width: 40%;
}
.about-1 p{
    width: 40%;
}




.our_footer_area{
    padding: 30px ;
    background: black ;
    line-height: 1.5em;
}


.form-input{
  height:40px;
  border-radius: 17px;
}

.form-textarea{
  height: 100px;
  border-radius: 17px;
}
.contact-info-section-form{
  font-size: 20px;
}

.contact-info-section-form h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: normal;
}
.contact-info-section-form p {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}
.contact-info-section-form {
    border-bottom: 1px solid #ececec;
    padding: 25px 0;
    margin-bottom: 0;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
.contact-info-section-form h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: normal;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
    padding-left: 0px !important;
}
.list-style-1 li {
    padding: 5px 0;
}
.contact-info-section-form p {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}
.contact-info-section-form i {
    width: 25px;
    height: 25px;
    padding-top: 7px;
    border-radius: 50%;
    background: #36415f;
    color: #fff;
    font-size: 12px;
    margin-right: 5px;
    line-height: 11px;
}
.email_color{
  color: #fff;
}
.form-input,
.form-textarea{
	width: 100%;
	margin: 5px;
	padding: 10px;
}

#lab_social_icon_footer {
  padding: 40px 0;
  background-color: black;
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

/*
#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}
*/
#lab_social_icon_footer #social-ln:hover {
  color: #3B5990;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #fff;
}

.mission{
    border: 1px gray solid; padding: 20px; border-radius: 20px; box-shadow: 0 0 5px 5px gray;
}

.mission:active{
    border: 0px gray solid
    box-shadow: 0 0 5px 0px gray;
}

///////////////////////////////////////


#social {
  margin: 20px 10px;
  text-align: center;
}

.our_footer_area{
	margin: 0%;
}

.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border:2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding:14px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 100%;
    margin-left: 20px; 
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
}

/* facebook button class*/
.facebookBtn{
    
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
	color: #fff;
    background: #4060A5;
    border-color: #fff;
}

/* twitter button class*/
.twitterBtn{
	color: #4060A5;
    background: #fff;
    border-color: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
      
}

.twitterBtn:hover{
      color: #fff;
      background: #00ABE3;
      border-color: #fff;
}

/* google plus button class*/
.googleplusBtn{
    color: #e64522;
    background: #fff;
    border-color: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
      color: #fff;
      background: #e64522;
      border-color: #fff;
}

/* linkedin button class*/
.linkedinBtn{
      color: #0094BC;
      background: #fff;
      border-color: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #fff;
      background: #0094BC;
      border-color: #fff;
}

/* instagram button class*/
.instagramBtn{
      color: #d6249f;
      background: #fff;
      border-color: #d6249f;
}

.instagramBtn:before{
      font-family: "FontAwesome";
      content: "\f16d"; /* add pinterest icon */
}

.instagramBtn:hover{
      color: #fff;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      border-color: #fff;
}

/* gtihub button class*/
.githubBtn{
   	  color: #000;
      background: #fff;
      border-color: #000;
}

.githubBtn:before{
      font-family: "FontAwesome";
      content: "\f09b"; /* add pinterest icon */
}

.githubBtn:hover{
      color: #fff;
      background: #000;
      border-color: #fff;
}
/*-----------------Footer Area End-------------------*/
.active-blog-carusel{
    margin-left: 60px;
}
.card{
    width: 70%;
    
}
@media only screen and (max-width:500px){
    .active-blog-carusel{
    margin-left: 0;    
}
    .card{
    width: 70%;
    margin-left: 50px;
}
}

.card-img-top{
    height: 220px; width: 100%;
}
.card-body{
    height: 100px; width: 100%;
}

.backing {
    background: url(../img/business-2987962_1920.jpg) center center no-repeat;
    background-size: contain;
    height: 70vh;
}
