*:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
//.modal-footer {
//    
//}

.modal-dialog {
    display: none;
}

.modal-dialog-centered {
    display: none;
}

.modal {
    display: none;
}
